@use '../../utils' as *;

/*----------------------------------------*/
/* Loan calculator styles
/*----------------------------------------*/
.loan-calculator-form {
    margin-inline-end: 80px;

    @media #{$xl} {
        margin-inline-end: 50px;
    }

    @media #{$lg} {
        margin-inline-end: 30px;
    }

    @media #{$xxs,$sm,$md} {
        margin-inline-end: 0;
    }
}

.loan-result-wrapper {
    border-radius: 20px;
    background: var(--td-white);
    box-shadow: 2.5px 2.5px 40px 0 rgba(0, 0, 0, 0.08);
    margin-inline-start: 15px;

    @media #{$xxs,$sm,$md,$lg,$xl} {
        margin-inline-start: 0;
    }

    .loan-title {
        display: flex;
        padding: 18px 30px;
        font-size: 20px;
        font-weight: 700;
        background: linear-gradient(95deg, rgba(37, 140, 244, 0.10) 5.38%, rgba(244, 37, 244, 0.10) 94.16%);
        border-radius: 10px 10px 0 0;

        @media #{$xxs} {
            padding: 10px 16px;
            font-size: 18px;
        }
    }

    .result-inner {
        padding: 40px 30px;

        @media #{$xxs} {
            padding: 20px 16px;
        }

        .loan-amount {
            text-align: center;

            .result-value {
                color: var(--td-heading);
                text-align: center;
                font-size: 40px;
                font-weight: 700;

                @media #{$xs,$sm} {
                    font-size: 24px;
                }
            }

            .result-label {
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                background: var(--1, linear-gradient(95deg, #258CF4 5.38%, #F425F4 94.16%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: block;
                margin-bottom: 5px;
            }
        }
    }

    .result-cards {
        display: flex;
        gap: 16px 30px;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .result-card {
        border-radius: 12px;
        border: 1px solid rgba(34, 34, 34, 0.10);
        padding: 8px 16px;
        flex: 1 1 0;

        .result-label {
            color: rgba(34, 34, 34, 0.80);
            font-size: 14px;
            font-weight: 500;
        }

        .result-value {
            color: var(--td-heading);
            font-size: 16px;
            font-weight: 600;
        }
    }

    .installment-lists {
        border-radius: 14px;
        background: linear-gradient(95deg, rgba(37, 140, 244, 0.03) 5.38%, rgba(244, 37, 244, 0.03) 94.16%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px 16px;
        align-items: flex-start;
        gap: 40px;
        align-self: stretch;
        margin-top: 30px;

        @media #{$xxs} {
            grid-template-columns: 1fr;
        }

        .installment-item {
            display: flex;
            gap: 12px;

            .result-label {
                color: rgba(34, 34, 34, 0.80);
                font-size: 14px;
                font-weight: 500;
            }

            .result-value {
                font-size: 16px;
                font-weight: 700;
                margin-top: 5px;
            }
        }
    }

    .result-btn {
        margin-top: 40px;
    }
}